.cart{
    margin-top: 100px;
}
.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: #49557e;
    font-size: max(1vw, 12px);
}

.cart-items-product{
    margin: 10px 0px;
    color: #49557e;
}

.cart-items-product img{
    width: 70px;
}

.cart hr{
    height: 1px;
    background: #49557e;
    border: none;
}

.cart-items-product cross{
    cursor: pointer;
}

.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
}

.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.total-price{
    display: flex;
    justify-content: space-between;
    color: #49557e;
}

.cart-total hr{
    margin: 10px 0px;
}

.cart-total button{
    border: none;
    color: #49557e;
    background-color: hsl(140, 65%, 55%);
    padding: 12px 0px;
    width: max(15vw, 200px);
    border-radius: 4px;
    cursor: pointer;
}

.promocode{
    flex: 1;
}

.promocode p{
    color: #49557e;
}

.promocode-imput{
    margin-top: 10px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.promocode-imput input{
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}

.promocode-imput button{
    width: max(10vw, 150px);
    padding: 12px 5px;
    background-color: hsl(140, 65%, 55%);
    border: none;
    color: #49557e;
    border-radius: 4px;
}

@media (max-width: 750px){
    .cart-bottom{
        flex-direction: column-reverse;
    }
    .promocode{
        justify-content: start;
    }
}