.header{
    height: 34vw;
    margin: 30px auto;
}

.header-contents{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    position: relative;
}

.header-contents h2{
    font-weight: 500;
    color: #49557e;
    font-size: max(4.5vw,22px);
}

.header-contents p{
    font-weight: 500;
    color: #49557e;
    font-size: 2.5vw 15px;
}

.header-contents button{
    border: 1px solid #49557e;
    color: #49557e;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: hsl(144, 33%, 97%);
    cursor: pointer;
    transition: 0.3s;
}

.header-contents button:hover{
    background-color: hsl(140, 65%, 55%);  
}

@media (max-width: 1050px){
    .header-contents{
        max-width: 55%;
    }
}

@media (max-width: 750px){
    .header-contents{
        max-width: 55%;
    }
    
    .header-contents p{
        display: none;
    }

    .header-contents button{
        padding: 2vw, 4vw;
    }
}